section.footer-nav.container

  .col-md-3
    h4 myfotowall
    ul
      li
        a(href="about.html") About us
      li
        a(href="contact.html") Contact us
      li
        a(href="news.html") News
      li
        a(href="blog.html") Blog
    
  .col-md-3
    h4 &nbsp;
    ul
      li
        a(href=mfw_quote) Order Now
      li
        a(href="examples-gallery.html") Examples
      li
        a(href="image-gallery.html") Gallery
      li
        a(href="faqs.html") FAQs
    
  .col-md-6
    h4 Keep informed
    p We appreciate your interest in myfotowall and would like to keep you in the picture, about what's new, exciting projects and ideas we can share.
    p [email-form]



footer
  .container
    .row
      .col-md-8
        a(href='contact.html') Contact us  
        span.spacer
        a(href='terms-conditions.html') Terms &amp; Conditions 
        span.spacer
        | Company Reg. No: OC36096

      .col-md-4
        p.text-right
          a(href='http://www.freshinc.co.uk', rel="external") Solution by Freshinc
        
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")