include ./_image-strip.jade

section#cta-section
  .container
    h3 Create something special
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Etiam sit amet vestibulum diam
    p
      a.btn(href=mfw_quote) Create your wall