section#mfw-sectors.container
  .mfw-sector.col-md-4
  
    a(href=mfw_quote)
      img(src="images/home.jpg", class="img-responsive")
    h3
      | myfotowall for  
      span.orange you
    
    p Nam lectus mauris, dapibus et fringilla nec, lacinia id magna. Nunc id hendrerit nunc, eget scelerisque felis.
    
    p
      a(href=mfw_quote) Find out more...
  
  
  .mfw-sector.col-md-4
  
    a(href="business.html")
      img(src="images/show-room.jpg", class="img-responsive")
      
    h3
      | myfotowall for 
      span.orange business
    
    p Nam lectus mauris, dapibus et fringilla nec, lacinia id magna. Nunc id hendrerit nunc, eget scelerisque felis.
    
    p
      a(href="business.html") Find out more...
  
  
  .mfw-sector.col-md-4
  
    a(href="bespoke.html")
      img(src="images/pool.jpg", class="img-responsive")
      
    h3
      | myfotowall 
      span.orange bespoke
    
    p
      Nam lectus mauris, dapibus et fringilla nec, lacinia id magna. Nunc id hendrerit nunc, eget scelerisque felis.
    
    p
      a(href="bespoke.html") Find out more...