include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span Bespoke
        
      .img-filter
      .img-place-holder
        img(src="http://ichef.bbci.co.uk/live-experience/cps/1680/cpsprodpb/A615/production/_88971524_crane_pa.jpg")
    
    section.container
      h2 Tailored made for you...
      
        include ./_sharer.jade
        
      .main-content
        p.intro-txt Welcome to the myfotowall.com&reg; service. Please read these Terms of Service ("Terms") carefully as they contain the legal terms and conditions that you agree to when you use www.myfotowall.com (the "Site").

        hr

    include ./_section-cta.jade
        
    include ./_footer.jade