include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span Our Blog
        
      .img-filter
      .img-place-holder
        img(src="./images/bgs/pexels-photo-roof.jpg")
    
    section.container
      h2 Indoor Inspiration
      
        include ./_sharer.jade
        
      .main-content.row
      
        .col-md-12
          .masonry-row
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1447877085163-3cce903855cd.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Lorem ipsum dolor sit amet
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1458324124043-7803d4fec380.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1447877085163-3cce903855cd.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Lorem ipsum dolor sit amet
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1458324124043-7803d4fec380.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1447877085163-3cce903855cd.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Lorem ipsum dolor sit amet
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...
              .item
                .well
                  a(href="post.html")
                    img(src="./images/bgs/photo-1458324124043-7803d4fec380.jpg", class="img-responsive")
                  h3 
                    a(href="post.html") Consectetur adipiscing elit.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. 
                  p
                    a(href="post.html") Read more...

    include ./_section-cta.jade
        
    include ./_footer.jade