include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span Contact us
        
      .img-filter
      .img-place-holder
        img(src=stock_place)
    
    section.container
      h2 Contact us
      
        include ./_sharer.jade
        
      .main-content
      
        p.intro-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat vehicula orci, non porttitor risus euismod nec. Donec vitae libero eu tellus cursus aliquet a vel felis. Nam ullamcorper purus nec est facilisis, et mattis
        
        hr
        
        .row
          .col-md-6
          
            .form-group
              input(type="text", class="form-control", placeholder="Name")
            .form-group
              input(type="text", class="form-control", placeholder="Contact Number")
            .form-group
              input(type="text", class="form-control", placeholder="Address")
            .form-group
              input(type="text", class="form-control", placeholder="Email Address")
            .form-group
              input(type="text", class="form-control", placeholder="Postcode")
            .form-group
              textarea(placeholder="Address", rows="4").form-control
              input(type="submit", style="margin-top: 20px;").form-control

          .col-md-6
        
            script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
            div(style='overflow:hidden;height:300px;width:100%;')
              #gmap_canvas(style='height:300px;width:100%;')
              style #gmap_canvas img{max-width:none!important;background:none!important}
              a(href='https://mapswebsite.org/') google maps widget
              script(type='text/javascript', src='https://embedmaps.com/google-maps-authorization/script.js?id=37f3e1dce48f2ddae9c89dbfba938788aa2f7d29')
              script(type='text/javascript') function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(51.6789,-3.3805999999999585),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.6789,-3.3805999999999585)});infowindow = new google.maps.InfoWindow({content:'<strong></strong><br><br>BD5 9AG <br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);

            .address-text
              p Myfotowall LLP, Carrwood House, Carrbottom Road, Bradford, West Yorkshire, BD5 9AG, England
              p Customer Service Tel: +44 1274 303153

    
    include ./_section-cta.jade
    include ./_footer.jade