include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span Examples Gallery
        
      .img-filter
      .img-place-holder
        img(src=stock_place)
    
    section.container
      h2 Our previous clients
        include ./_sharer.jade
        
      p.intro-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat vehicula orci, non porttitor risus euismod nec. Donec vitae libero eu tellus cursus aliquet a vel felis. Nam ullamcorper purus nec est facilisis, et mattis
      
      hr

            
    section.container
    
      .row
        .col-md-12
          #carousel-example-generic.carousel.slide(data-ride='carousel')

            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')

            .carousel-inner(role='listbox')
              .item.active
                img(src='./images/bgs/tumblr_o4qkpj3AvJ1slhhf0o1_1280.jpg', alt='...')
                .carousel-caption
                  | ...
              .item
                img(src='./images/bgs/tumblr_o3z5teg2Ub1slhhf0o1_1280.jpg', alt='...')
                .carousel-caption
                  | ...
              .item
                img(src='./images/bgs/tumblr_o4qkpj3AvJ1slhhf0o1_1280.jpg', alt='...')
                .carousel-caption
                  | ...

            a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
             span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
             span.sr-only Previous
            a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Next
            
          hr
            
    include ./_section-cta.jade
    
    include ./_footer.jade