include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span Our Gallery
        
      .img-filter
      .img-place-holder
        img(src=stock_place)
    
    section.container
      h2 Our collection of beautiful images
      
        include ./_sharer.jade
        
      p.intro-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat vehicula orci, non porttitor risus euismod nec. Donec vitae libero eu tellus cursus aliquet a vel felis. Nam ullamcorper purus nec est facilisis, et mattis
      
      hr
    #blueimp-gallery.blueimp-gallery
      // The container for the modal slides
      .slides
      // Controls for the borderless lightbox
      h3.title
      a.prev &laquo;
      a.next &raquo;
      a.close &times;
      a.play-pause
      ol.indicator
      // The modal dialog, which will be used to wrap the lightbox content
      .modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', aria-hidden='true') ×
              h4.modal-title
            .modal-body.next
            .modal-footer
              button.btn.btn-default.pull-left.prev(type='button')
                i.glyphicon.glyphicon-chevron-left
                |                         Previous
              button.btn.btn-primary.next(type='button')
                | Next
                i.glyphicon.glyphicon-chevron-right

            
    section.container
    
      .row
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1447877085163-3cce903855cd.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1447877085163-3cce903855cd.jpg" class="img-responsive" alt="Banana"', )
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1449960238630-7e720e630019.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1449960238630-7e720e630019.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1452110040644-6751c0c95836.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1452110040644-6751c0c95836.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1458324124043-7803d4fec380.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1458324124043-7803d4fec380.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1447877085163-3cce903855cd.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1447877085163-3cce903855cd.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1449960238630-7e720e630019.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1449960238630-7e720e630019.jpg" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="./images/bgs/photo-1452110040644-6751c0c95836.jpg" class="thumbnail', ' data-gallery')
            img('src="./images/bgs/photo-1452110040644-6751c0c95836.jpg" class="img-responsive" alt=""')
            
    include ./_section-cta.jade
    
    include ./_footer.jade