include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span Our Gallery
        
      .img-filter
      .img-place-holder
        img(src=stock_place)
    
    section.container
      h2 Our collection of beautiful images
      
        include ./_sharer.jade
        
      p.intro-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat vehicula orci, non porttitor risus euismod nec. Donec vitae libero eu tellus cursus aliquet a vel felis. Nam ullamcorper purus nec est facilisis, et mattis
      
      hr

            
    section.container
    
      .row
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
        .col-lg-4.col-md-4.col-xs-6.thumb
          a('href="#" class="thumbnail')
            img('src="http://placehold.it/400x300" class="img-responsive" alt=""')
            
    include ./_section-cta.jade
    
    include ./_footer.jade