include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span News
        
      .img-filter
      .img-place-holder
        img(src="./images/bgs/photo-1452723312111-3a7d0db0e024.jpg")
    
    section.container
      h2 myfotowall news
      
        include ./_sharer.jade
        
      .main-content
        .row.news-row
          .col-md-3.news-item
            a(href="news-post.html")
              img(src="./images/bgs/photo-1447877085163-3cce903855cd.jpg", class="img-responsive")
          .col-md-9.news-item
            p.intro-txt
              a(href="news-post.html") Myfotowall at Center Parcs 
                span.date | 21st April 2016

            p BRINGING THE OUT-DOORS IN-DOORS

            p Myfotowall are proud to be suppling wall decoration products to all the of the Center Parc sites across the UK, as part of a refurbishment programme that will set a new standard in the qulality of the Villas available. Working on the theme of capturing an element of the woodland scenery, that is at the heart of all Center Parcs, and bringing this into the living accomodation..
          
            p
              a(href="news-post.html") Read More...
        .row.news-row
          .col-md-3.news-item
            a(href="news-post.html")
              img(src="./images/bgs/photo-1447958374760-1ce70cf11ee3.jpg", class="img-responsive")
          .col-md-9.news-item
            p.intro-txt
              a(href="news-post.html") Myfotowall at Center Parcs 
                span.date | 21st April 2016

            p BRINGING THE OUT-DOORS IN-DOORS

            p Myfotowall are proud to be suppling wall decoration products to all the of the Center Parc sites across the UK, as part of a refurbishment programme that will set a new standard in the qulality of the Villas available. Working on the theme of capturing an element of the woodland scenery, that is at the heart of all Center Parcs, and bringing this into the living accomodation..
          
            p
              a(href="news-post.html") Read More...
        .row.news-row
          .col-md-3.news-item
            a(href="news-post.html")
              img(src="./images/bgs/photo-1449960238630-7e720e630019.jpg", class="img-responsive")
          .col-md-9.news-item
            p.intro-txt
              a(href="news-post.html") Myfotowall at Center Parcs 
                span.date | 21st April 2016

            p BRINGING THE OUT-DOORS IN-DOORS

            p Myfotowall are proud to be suppling wall decoration products to all the of the Center Parc sites across the UK, as part of a refurbishment programme that will set a new standard in the qulality of the Villas available. Working on the theme of capturing an element of the woodland scenery, that is at the heart of all Center Parcs, and bringing this into the living accomodation..
          
            p
              a(href="news-post.html") Read More...
        .row.news-row
          .col-md-3.news-item
            a(href="news-post.html")
              img(src="./images/bgs/photo-1452110040644-6751c0c95836.jpg", class="img-responsive")
          .col-md-9.news-item
            p.intro-txt
              a(href="news-post.html") Myfotowall at Center Parcs 
                span.date | 21st April 2016

            p BRINGING THE OUT-DOORS IN-DOORS

            p Myfotowall are proud to be suppling wall decoration products to all the of the Center Parc sites across the UK, as part of a refurbishment programme that will set a new standard in the qulality of the Villas available. Working on the theme of capturing an element of the woodland scenery, that is at the heart of all Center Parcs, and bringing this into the living accomodation..
          
            p
              a(href="news-post.html") Read More...
        .row.news-row
          .col-md-3.news-item
            a(href="news-post.html")
              img(src="./images/bgs/photo-1458324124043-7803d4fec380.jpg", class="img-responsive")
          .col-md-9.news-item
            p.intro-txt
              a(href="news-post.html") Myfotowall at Center Parcs 
                span.date | 21st April 2016

            p BRINGING THE OUT-DOORS IN-DOORS

            p Myfotowall are proud to be suppling wall decoration products to all the of the Center Parc sites across the UK, as part of a refurbishment programme that will set a new standard in the qulality of the Villas available. Working on the theme of capturing an element of the woodland scenery, that is at the heart of all Center Parcs, and bringing this into the living accomodation..
          
            p
              a(href="news-post.html") Read More...
      

    include ./_section-cta.jade
        
    include ./_footer.jade