include ./_settings.jade
html
  head
    include ./_head.jade
  
  body.content-page
  
    include ./_header.jade
    
    section#intro-box
      h1
        span News
        
      .img-filter
      .img-place-holder
        img(src=stock_place)
    
    section.container
      h2 myfotowall news
      
        include ./_sharer.jade
        
      .main-content
        p.intro-txt Coming soon...

    include ./_section-cta.jade
        
    include ./_footer.jade